/* 浅色模式下的行内代码 */
.theme-light .cm-inline-code,
.theme-light .markdown-preview-view code {
    color: #4DB95A !important;           /* 保持你喜欢的绿色3C9B45 52AD5C 4DB95A*/
    border-radius: 4px !important;
}

/* 深色模式下的行内代码 */
.theme-dark .cm-inline-code,
.theme-dark .markdown-preview-view code {
    color: #62D770 !important;           /* 更亮的浅绿色，深色背景下清晰 */
    border-radius: 4px !important;
}